body {
    padding: 0px;
}

.headerimg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(90deg,#1c002c, #603f77, #1c002c);
    text-align: center;
    position: relative;
    width: 100%;
    height: 20vh;
}

.headerimg img {
    width: 300px;
    position: relative;
}

.address {
    color: blue;
    transform: translateX(60%);
}